*{
    padding: 0;
    margin: 0;
    font-family: "Roboto-Regular";
}
.main{
    background: var(--layout-box-x);
}
.section__details{
    text-align: center;
}
.details__table{

}
.details__table thead{
    background: orange;
}
.details__table tbody tr{
    border: 1px solid red;
}