<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="stylesheet" href="../css/report.css">
    <!-- <script type="module" src="../js/bill.js" defer></script> -->
</head>
<body>
    <main class="main">
        <section class="main__report">
            <article class="report__user">
                <h1>Charlie’s Garden</h1>
                <small>ID: 134429   024</small>
            </article>
            <article class="report__menu">
                <button>PLANTS</button>
                <button>LOG</button>5
                <button>SETTINGS</button>
                <button>PLANTS</button>
                <button>LOG</button>
                <button>SETTINGS</button>
                <button>PLANTS</button>
                <button>LOG</button>
                <button>SETTINGS</button>
                <button>PLANTS</button>
                <button>LOG</button>
                <button>SETTINGS</button>
            </article>
            <article class="report__details">
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>
                <details>
                    <summary>
                        <div>Sort by:</div>
                        <div>Urgency: High to Low</div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <!-- <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> -->
                        </div>
                        
                    </div>
                </details>

            </article>
        </section>
    </main>
</body>
</html>